@page "/students"
@inject HttpClient Http

<PageTitle>Students</PageTitle>

<h1>Students</h1>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid TItem="Student" Items="students.AsQueryable()">
        <PropertyColumn Property="@((Student student) => student.StudentId)" Title="ID" Sortable="true" />
        <PropertyColumn Property="@((Student student) => student.FirstName)" Title="First Name" Sortable="true" />
        <PropertyColumn Property="@((Student student) => student.LastName)" Title="Last Name" Sortable="true" />
        <PropertyColumn Property="@((Student student) => student.School)" Title="School" Sortable="true" />
        
        <TemplateColumn Title="Actions" Context="student">
            <a class="btn btn-success btn-sm" href="/update/@student.StudentId">edit</a>
            <a class="btn btn-danger btn-sm" href="/delete/@student.StudentId">del</a>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    private Student[]? students;

    protected override async Task OnInitializedAsync()
    {
        students = await Http.GetFromJsonAsync<Student[]>($"{Constants.BASE_URL}api/students");
    }
}
